.MessagesInput {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 8px;
    background-color: white;
    border: 1px solid #ececee;
    border-radius: 8px;
    height: 60px;
}

.MessagesInput > input {
    flex-grow: 1;
}

.MessagesInput:hover {
    border-color: #6dbad8;
}