.MessagesBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: #5cb5d659;
    border-radius: 8px 16px 8px 8px;
    overflow-y: scroll;

    scrollbar-width: thin;
    scrollbar-color: #6dbad8 transparent;
}

@media (max-width: 767px) {
    .MessagesBox {
        border-radius: 8px;
    }
}

.MessagesBox::-webkit-scrollbar {
    width: 5px;
}

.MessagesBox::-webkit-scrollbar-thumb {
    background-color: #6dbad8;
    border-radius: 16px;
}