.TagsSlider {
    width: 100px;
    height: 100%;
    padding: 8px;
    border-radius: 16px 8px 8px 16px;
    background-color: white;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: #6dbad8 transparent;
}

@media (max-width: 767px) {
    .TagsSlider {
        border-radius: 8px;
    }
}

.TagsSlider__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.TagsSlider::-webkit-scrollbar {
    width: 5px;
}

.TagsSlider::-webkit-scrollbar-thumb {
    background-color: #6dbad8;
    border-radius: 16px;
}