.TagsPanel {
    display: flex;
    gap: 8px;
}

.TagsPanel__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    height: 100%;
    width: 100%;
}


@media (max-width: 767px) {
    .TagsPanel {
        height: 200px;
    }
}